* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-margin-top: 260px;
}

html {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: larger;
  font-weight: 500;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(127, 247, 111);
  height: 100vh;
  width: 100vw;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(192, 243, 243);
  border: 1px solid blueviolet;
  border-radius: 20px;
}

h1 {
  text-align: center;
  color: blue;
  letter-spacing: 5px;
}

/* navbar section */
nav {
  position: relative;
}

.menu-button {
  position: absolute;
  left: 5px;
  top: -80px;
  font-size: 25px;
  /* color: blue; */
  cursor: pointer;
}

.label {
  width: 30px;
  height: 3px;
  background-color: blue;
  margin: 6px 0;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
  margin-bottom: -15px;
  display: none;
}

nav ul li {
  list-style: none;
  font-weight: bold;
  font-style: normal;
  border: 1px solid blue;
  padding: 10px;
  border-radius: 10px;
  background-color: aliceblue;
  letter-spacing: 3px;
}

nav ul li:hover {
  background-color: gold;
}

nav ul li:active {
  background-color: rgb(172, 248, 162);
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  color: blueviolet;
}

/* Aside-bar */
.left-bar {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: blue;
  opacity: 80%;
  transition: left 0.5s ease-in-out;
  z-index: 1;
  left: -100%;
  top: 0;
}

.menu {
  list-style: none;
  color: white;
  margin-top: 70px;
  padding-left: 0;
  cursor: pointer;
}

.menu li a {
  text-decoration: none;
  color: white;
}

.menu > li {
  text-align: center;
  padding: 20px 0;
}

.menu > li:hover {
  background: black;
  transition: all 0.5s ease-in-out;
}

.menu > li:hover a {
  color: white;
}

.exit {
  font-weight: bolder;
  color: white;
  float: right;
  padding: 1.4rem;
  cursor: pointer;
}

#toggle:checked ~ .left-bar {
  left: 0;
}

#toggle {
  display: none;
}

/* main section */
main {
  margin: 300px 35px auto 20px;
}

iframe {
  border-radius: 20px;
}

.section {
  margin-top: 50px;
  margin-bottom: 10px;
  color: blue;
  font-size: larger;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 2px;
  text-align: center;
}

p {
  margin-top: 15px;
  line-height: 30px;
  background-color: rgb(234, 251, 80);
  letter-spacing: 2px;
  text-align: justify;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid blueviolet;
}

img {
  border-radius: 20px;
}

img:hover {
  box-shadow: 5px 10px blue;
}

.albums {
  background-color: rgb(234, 251, 80);
  border-radius: 5px;
  border: 1px solid blueviolet;
  margin-top: 15px;
}

.albums-1 {
  border: none;
}

.albums li {
  margin-top: 15px;
  margin-left: 30px;
  list-style-type: square;
  letter-spacing: 3px;
}

.section-5-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  max-height: 100%;
  gap: 30px;
  background-color: rgb(40, 243, 13);
  padding: 1rem;
}

.five {
  margin-top: 100px;
}

/* buttons section */
button {
  background-color: rgb(183, 234, 241);
  font-size: medium;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px;
}

button:hover {
  color: white;
  background-color: black;
}

button a {
  text-decoration: none;
}

.wiki {
  margin-top: 50px;
  letter-spacing: 2px;
}

.wiki-1:hover {
  color: white;
}

/* form section */
form {
  display: flex;
  flex-direction: column;
  height: 450px;
}

form > * {
  margin-top: 10px;
}

form input,
select {
  height: 32px;
  border-radius: 5px;
}

form select {
  background-color: rgb(183, 234, 241);
}

form select:hover {
  color: white;
  background-color: black;
}

input:focus {
  background-color: rgb(192, 243, 243);
}

form textarea {
  height: 100px;
  border-radius: 5px;
}

form textarea:focus {
  background-color: rgb(127, 247, 111);
}

form button {
  height: 30px;
}

/* author section */
.author {
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-1 {
  background-image: url(./logos/prince-amanie.jpg);
  background-size: cover;
  background-repeat: no repeat;
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

span {
  line-height: 30px;
  letter-spacing: 2px;
  text-align: justify;
}

.profile,
.profile-2 {
  letter-spacing: 2px;
}

/* footer section */
footer {
  background-color: rgb(192, 243, 243);
  padding-left: 30px;
  border: 1px solid blueviolet;
  border-radius: 20px;
  margin: 50px 2px auto 2px;
}

footer .last-button {
  transform: translateY(-0.5rem);
  background-color: aliceblue;
}

footer .last-button:hover {
  background-color: gold;
}

footer .last-button:active {
  background-color: rgb(172, 248, 162);
}

footer .last-button a:hover {
  color: blueviolet;
}

/* media queries breakpoint section for mobiles*/
@media only screen and (min-width: 500px) and (max-width: 768px) {
  * {
    scroll-margin-top: 250px;
  }

  h1 {
    margin: 20px;
  }

  main {
    margin-top: 150px;
  }

  .card {
    display: block;
  }

  img,
  iframe {
    max-width: 100%;
  }

  .author-1 {
    height: 200px;
    width: 200px;
    border-radius: 100px;
  }
}

/* media queries breakpoint section for tablets*/
@media only screen and (min-width: 769px) {
  * {
    scroll-margin-top: 200px;
  }

  .menu-button {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
    margin-bottom: -15px;
  }

  main {
    margin-top: 250px;
  }

  .iframe-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-container {
    max-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .discover {
    height: 30%;
    overflow-y: scroll;
  }

  .section {
    text-align: center;
  }

  .images-1-container,
  .images-2-container,
  .images-3-container,
  .images-4-container {
    height: 100%;
    width: 100%;
  }

  .logo-1 {
    min-width: 438px;
    min-height: 300px;
  }

  .logo-2 {
    min-width: 438px;
    min-height: 300px;
  }

  .logo-3 {
    min-width: 438px;
    min-height: 300px;
  }

  .logo-4 {
    min-width: 438px;
    min-height: 300px;
  }

  .albums {
    height: 28.5%;
    overflow-y: scroll;
  }

  .wiki {
    margin-top: -100px;
  }

  form textarea {
    height: 200px;
  }

  .author-1 {
    height: 310px;
    width: 310px;
    border-radius: 170px;
  }
}

/* media queries breakpoint section for laptops/desktops*/
@media only screen and (min-width: 994px) {
  * {
    scroll-margin-top: 200px;
  }

  main {
    margin-top: 300px;
  }

  .iframe-1 {
    height: 800px;
  }

  iframe {
    width: 60%;
    height: 800px;
  }

  .main-container {
    max-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .images-1-container,
  .images-2-container,
  .images-3-container,
  .images-4-container {
    height: 80%;
    width: 100%;
  }

  .logo-1 {
    min-width: 100%;
    min-height: 60%;
  }

  .logo-2 {
    min-width: 100%;
    min-height: 60%;
  }

  .logo-3 {
    min-width: 100%;
    min-height: 60%;
  }

  .logo-4 {
    min-width: 100%;
    min-height: 60%;
  }

  .wiki {
    margin-top: 40px;
  }

  form textarea {
    height: 250px;
  }

  .author-1 {
    height: 370px;
    width: 370px;
    border-radius: 185px;
  }
}

/* media queries breakpoint section for large laptops/desktops*/
@media only screen and (min-width: 1200px) {
  .discover {
    height: 50%;
    overflow-y: scroll;
  }
}
